        body {
            margin: 0%;
        }
        
        section {
            display: flex;
            padding-right: 5%;
        }
        
        h1 {
            color: rgb(0, 255, 106);
            font-family: 'Tourney', cursive;
            font-size: 55px;
        }
        
        h2 {
            font-family: 'Lobster', cursive;
            color: rgb(30, 95, 44);
            text-align: center;
            padding-bottom: 20px;
            font-size: 40px;
        }
        
        p {
            padding-bottom: 50px;
            font-family: 'Uchen', serif;
            color: rgb(4, 109, 109);
        }
        
        .button {
            color: springgreen;
            text-decoration: none;
            background-image: linear-gradient(rgb(149, 219, 17), rgb(4, 128, 107));
            padding: 12px 40px;
            border-radius: 28px;
            font-weight: 800;
        }
        
        span {
            font-family: 'Zen Tokyo Zoo', cursive;
            color: rgb(94, 9, 51);
            font-size: 80px;
        }
        
        .maintain {
            width: 50%;
            padding: 30px 30px 50px 60px;
        }
        
        .border {
            padding-bottom: 50px;
        }
        
        .background {
            background-image: url(images/shapes/7.png);
            background-repeat: no-repeat;
        }
        
        small {
            color: rgb(11, 146, 146);
        }
        
        img {
            height: 500px;
            padding: 40px 15px 15px 80px;
        }