        body {
            margin: 0%;
        }
        
        .type {
            display: flex;
            padding-right: 5%;
        }
        
        h1 {
            color: rgb(0, 255, 106);
            font-family: 'Tourney', cursive;
            font-size: 55px;
        }
        
        h2 {
            font-family: 'Lobster', cursive;
            color: rgb(30, 95, 44);
            text-align: center;
            padding-bottom: 10px;
            font-size: 40px;
        }
        
        h3 {
            font-family: 'Otomanopee One', sans-serif;
            text-align: center;
            font-size: 23px;
        }
        
        h4 {
            text-align: center;
            color: rgb(255, 208, 0);
            padding-top: 25px;
            font-size: 20px;
        }
        
        p {
            padding-bottom: 50px;
            font-family: 'Uchen', serif;
            color: rgb(4, 109, 109);
        }
        
        .button {
            color: springgreen;
            text-decoration: none;
            background-image: linear-gradient(rgb(149, 219, 17), rgb(4, 128, 107));
            padding: 12px 40px;
            border-radius: 28px;
            font-weight: 800;
        }
        
        span {
            font-family: 'Zen Tokyo Zoo', cursive;
            color: rgb(94, 9, 51);
            font-size: 80px;
        }
        
        .maintain {
            width: 50%;
            padding: 30px 30px 50px 60px;
        }
        
        .border {
            padding-bottom: 50px;
        }
        
        .background {
            background-image: url(images/shapes/7.png);
            background-repeat: no-repeat;
        }
        
        img {
            height: 500px;
        }
        
        .type {
            display: flex;
            padding-right: 5%;
        }
        
        .part {
            display: flex;
            padding-right: 5%;
            padding-top: 30px;
        }
        
        .line {
            box-shadow: 10px 10px 40px rgb(163, 135, 135);
            width: 50%;
            margin: 2% 5% 5%;
            border-radius: 25px;
            padding: 8px;
            height: 560px;
        }
        
        .picture {
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            height: 220px;
            border-radius: 20px;
            width: 310px;
        }
        
        small {
            color: rgb(11, 146, 146);
            display: block;
            text-align: center;
        }
        
        .likes {
            box-shadow: 10px 10px 40px rgb(163, 135, 135);
            margin: 2% 5% 5%;
            border-radius: 25px;
            height: 130px;
        }
        
        .use {
            display: flex;
            padding-right: 5%;
        }
        
        .another {
            display: flex;
            padding-right: 5%;
        }
        
        .again {
            width: 50%;
        }
        
        #cntr {
            text-align: center;
        }
        
        .final {
            background-color: rgb(0, 0, 0);
            height: 150px;
        }
        
        #tag {
            color: rgb(31, 253, 1);
        }
        
        #define {
            padding-bottom: 100px;
        }